<style>
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
</style>

@font-face {
  font-family: 'Noto Sans', ;
  src: url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
}

.dropdown:hover .dropdown-menu {
  display: block;
  text-decoration: none !important;
}


.navbar {
  font-size: 0.8203125rem;
  font-weight: 300;
}

.bg-primary .dropdown-menu {
  background-color: #008cba;
}

.bg-primary .dropdown-menu .dropdown-item,
.bg-primary .dropdown-menu .dropdown-item:focus {
  color: rgba(255, 255, 255, 0.7);
}

.bg-primary .dropdown-menu .dropdown-item.active,
.bg-primary .dropdown-menu .dropdown-item:hover,
.bg-primary .dropdown-menu .dropdown-item:focus {
  background-color: #0079a1;
  color: #fff;
}

.bg-dark {
  background-color: #333 !important;
}

.bg-dark .dropdown-menu {
  background-color: #333;
}

.bg-dark .dropdown-menu .dropdown-item,
.bg-dark .dropdown-menu .dropdown-item:focus {
  color: rgba(255, 255, 255, 0.7);
}

.bg-dark .dropdown-menu .dropdown-item.active,
.bg-dark .dropdown-menu .dropdown-item:hover,
.bg-dark .dropdown-menu .dropdown-item:focus {
  background-color: #262626;
  color: #fff;
}

.bg-light .dropdown-menu {
  background-color: #eee;
}

.bg-light .dropdown-menu .dropdown-item,
.bg-light .dropdown-menu .dropdown-item:focus {
  color: rgba(0, 0, 0, 0.5);
}

.bg-light .dropdown-menu .dropdown-item.active,
.bg-light .dropdown-menu .dropdown-item:hover,
.bg-light .dropdown-menu .dropdown-item:focus {
  background-color: #fbfbfb;
  color: rgba(0, 0, 0, 0.7);
}

.btn-primary {
  border-color: #0079a1;
}

.btn-secondary {
  border-color: #e1e1e1;
}

.btn-success {
  border-color: #3c9a5f;
}

.btn-info {
  border-color: #46b8da;
  color: #fff;
}

.btn-danger {
  border-color: #ea2f10;
}

.btn-warning {
  border-color: #d08002;
  color: #fff;
}

.btn-light {
  border-color: #e1e1e1;
}

.btn-dark {
  border-color: #151515;
}

.btn-group .dropdown-menu {
  border-top-width: 0;
}

.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu {
  background-color: #008cba;
  border-color: #0079a1;
}

.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu .dropdown-item {
  color: #fff;
}

.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu .dropdown-item:focus {
  background-color: #006d91;
}

.btn-group .dropdown-toggle.btn-secondary ~ .dropdown-menu {
  background-color: #eee;
  border-color: #e1e1e1;
}

.btn-group .dropdown-toggle.btn-secondary ~ .dropdown-menu .dropdown-item {
  color: #fff;
}

.btn-group .dropdown-toggle.btn-secondary ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-secondary ~ .dropdown-menu .dropdown-item:focus {
  background-color: #dadada;
}

.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu {
  background-color: #43ac6a;
  border-color: #3c9a5f;
}

.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu .dropdown-item {
  color: #fff;
}

.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu .dropdown-item:focus {
  background-color: #388f58;
}

.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu .dropdown-item {
  color: #fff;
}

.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu .dropdown-item:focus {
  background-color: #39b3d7;
}

.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu {
  background-color: #E99002;
  border-color: #d08002;
}

.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu .dropdown-item {
  color: #fff;
}

.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu .dropdown-item:focus {
  background-color: #c17702;
}

.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu {
  background-color: #F04124;
  border-color: #0079a1;
}

.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu .dropdown-item {
  color: #fff;
}

.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu .dropdown-item:focus {
  background-color: #dc2c0f;
}

.text-secondary {
  color: #495057 !important;
}

.blockquote-footer {
  color: #888;
}

table {
  font-size: 0.8203125rem;
}

.table-primary, .table-success, .table-info, .table-warning, .table-danger {
  color: #fff;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #008cba;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #eee;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #eee;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #222;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #43ac6a;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #5bc0de;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #F04124;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #E99002;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-primary:hover, .table-hover .table-primary:hover > th, .table-hover .table-primary:hover > td {
  background-color: #0079a1;
}

.table-hover .table-secondary:hover, .table-hover .table-secondary:hover > th, .table-hover .table-secondary:hover > td {
  background-color: #e1e1e1;
}

.table-hover .table-light:hover, .table-hover .table-light:hover > th, .table-hover .table-light:hover > td {
  background-color: #e1e1e1;
}

.table-hover .table-dark:hover, .table-hover .table-dark:hover > th, .table-hover .table-dark:hover > td {
  background-color: #151515;
}

.table-hover .table-success:hover, .table-hover .table-success:hover > th, .table-hover .table-success:hover > td {
  background-color: #3c9a5f;
}

.table-hover .table-info:hover, .table-hover .table-info:hover > th, .table-hover .table-info:hover > td {
  background-color: #46b8da;
}

.table-hover .table-danger:hover, .table-hover .table-danger:hover > th, .table-hover .table-danger:hover > td {
  background-color: #ea2f10;
}

.table-hover .table-warning:hover, .table-hover .table-warning:hover > th, .table-hover .table-warning:hover > td {
  background-color: #d08002;
}

.table-hover .table-active:hover, .table-hover .table-active:hover > th, .table-hover .table-active:hover > td {
  background-color: rgba(0, 0, 0, 0.075);
}

label,
.control-label,
.help-block,
.checkbox,
.radio,
.form-control-feedback {
  font-size: 0.8203125rem;
}

.dropdown-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.8203125rem;
  font-weight: 300;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #eee;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  background-color: #fbfbfb;
}

.nav-pills .active {
  border: 1px solid #0079a1;
}

.breadcrumb {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 0.8203125rem;
  font-weight: 300;
  text-transform: uppercase;
}

.pagination {
  font-weight: 300;
}

.pagination .page-link {
  border-color: transparent;
  border-radius: 3px;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.pagination .page-link:hover, .pagination .page-link:focus {
  text-decoration: none;
}

.pagination .page-item.disabled .page-link {
  border-color: transparent;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link,
.pagination-lg .page-item:first-child .page-link,
.pagination-lg .page-item:last-child .page-link,
.pagination-sm .page-item:first-child .page-link,
.pagination-sm .page-item:last-child .page-link {
  border-radius: 3px;
}

.list-group {
  font-size: 0.8203125rem;
  font-weight: 300;
}

.close {
  opacity: 0.6;
  text-shadow: none;
}

.close:hover, .close:focus {
  opacity: 1;
}

.alert {
  font-size: 0.8203125rem;
  font-weight: 300;
  color: #fff;
}

.alert-primary, .alert-primary > th, .alert-primary > td {
  background-color: #008cba;
}

.alert-secondary, .alert-secondary > th, .alert-secondary > td {
  background-color: #eee;
}

.alert-success, .alert-success > th, .alert-success > td {
  background-color: #43ac6a;
}

.alert-info, .alert-info > th, .alert-info > td {
  background-color: #5bc0de;
}

.alert-danger, .alert-danger > th, .alert-danger > td {
  background-color: #F04124;
}

.alert-warning, .alert-warning > th, .alert-warning > td {
  background-color: #E99002;
}

.alert-dark, .alert-dark > th, .alert-dark > td {
  background-color: #222;
}

.alert-light, .alert-light > th, .alert-light > td {
  background-color: #eee;
}

.alert .alert-link {
  font-weight: normal;
  color: #fff;
  text-decoration: underline;
}

.alert-secondary,
.alert-secondary a:not(.btn),
.alert-secondary .alert-link, .alert-light,
.alert-light a:not(.btn),
.alert-light .alert-link {
  color: #222;
}

.badge {
  padding-bottom: .3em;
}

.badge-warning, .badge-info {
  color: #fff;
}

.progress[value] {
  height: 22px;
  padding: 2px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
}

.popover-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.9375rem;
  color: #222;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.dropdown-menu a:hover{
  background-color: #f6e05e;
}

#logout:hover{
  background-color: #e53e3e;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

@media (min-width: 576px) {
  .dropdown-menu-sm-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 992px) {
  .dropdown-menu-lg-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-lg-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 1200px) {
  .dropdown-menu-xl-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-xl-right {
    right: 0;
    left: auto;
  }
}

.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}

.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}

.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem;
}

.dropright .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

.dropright .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-toggle::after {
  vertical-align: 0;
}

.dropleft .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}

.dropleft .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}

.dropleft .dropdown-toggle::after {
  display: none;
}

.dropleft .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}

.dropleft .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropleft .dropdown-toggle::before {
  vertical-align: 0;
}

.dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
  right: auto;
  bottom: auto;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #222;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #151515;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #008cba;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #888;
  pointer-events: none;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.8203125rem;
  color: #888;
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #222;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
  z-index: 1;
}

.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 1;
}

.btn-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btn-toolbar .input-group {
  width: auto;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
  margin-left: -1px;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.dropdown-toggle-split::after,
.dropup .dropdown-toggle-split::after,
.dropright .dropdown-toggle-split::after {
  margin-left: 0;
}

.dropleft .dropdown-toggle-split::before {
  margin-right: 0;
}

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.btn-group-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group {
  width: 100%;
}

.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) {
  margin-top: -1px;
}

.btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group-vertical > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-group-toggle > .btn,
.btn-group-toggle > .btn-group > .btn {
  margin-bottom: 0;
}

.btn-group-toggle > .btn input[type="radio"],
.btn-group-toggle > .btn input[type="checkbox"],
.btn-group-toggle > .btn-group > .btn input[type="radio"],
.btn-group-toggle > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.bg-primary .dropdown-menu {
  background-color: #008cba;
}

.bg-primary .dropdown-menu .dropdown-item,
.bg-primary .dropdown-menu .dropdown-item:focus {
  color: rgba(255, 255, 255, 0.7);
}

.bg-primary .dropdown-menu .dropdown-item.active,
.bg-primary .dropdown-menu .dropdown-item:hover,
.bg-primary .dropdown-menu .dropdown-item:focus {
  background-color: #0079a1;
  color: #fff;
}

.bg-dark {
  background-color: #333 !important;
}

.bg-dark .dropdown-menu {
  background-color: #333;
}

.bg-dark .dropdown-menu .dropdown-item,
.bg-dark .dropdown-menu .dropdown-item:focus {
  color: rgba(255, 255, 255, 0.7);
}

.bg-dark .dropdown-menu .dropdown-item.active,
.bg-dark .dropdown-menu .dropdown-item:hover,
.bg-dark .dropdown-menu .dropdown-item:focus {
  background-color: #262626;
  color: #fff;
}

.bg-light .dropdown-menu {
  background-color: #eee;
}

.bg-light .dropdown-menu .dropdown-item,
.bg-light .dropdown-menu .dropdown-item:focus {
  color: rgba(0, 0, 0, 0.5);
}

.bg-light .dropdown-menu .dropdown-item.active,
.bg-light .dropdown-menu .dropdown-item:hover,
.bg-light .dropdown-menu .dropdown-item:focus {
  background-color: #fbfbfb;
  color: rgba(0, 0, 0, 0.7);
}

.btn-primary {
  border-color: #0079a1;
}

.btn-secondary {
  border-color: #e1e1e1;
}

.btn-success {
  border-color: #3c9a5f;
}

.btn-info {
  border-color: #46b8da;
  color: #fff;
}

.btn-danger {
  border-color: #ea2f10;
}

.btn-warning {
  border-color: #d08002;
  color: #fff;
}

.btn-light {
  border-color: #e1e1e1;
}

.btn-dark {
  border-color: #151515;
}

.btn-group .dropdown-menu {
  border-top-width: 0;
}

.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu {
  background-color: #008cba;
  border-color: #0079a1;
}

.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu .dropdown-item {
  color: #fff;
}

.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu .dropdown-item:focus {
  background-color: #006d91;
}

.btn-group .dropdown-toggle.btn-secondary ~ .dropdown-menu {
  background-color: #eee;
  border-color: #e1e1e1;
}

.btn-group .dropdown-toggle.btn-secondary ~ .dropdown-menu .dropdown-item {
  color: #fff;
}

.btn-group .dropdown-toggle.btn-secondary ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-secondary ~ .dropdown-menu .dropdown-item:focus {
  background-color: #dadada;
}

.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu {
  background-color: #43ac6a;
  border-color: #3c9a5f;
}

.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu .dropdown-item {
  color: #fff;
}

.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu .dropdown-item:focus {
  background-color: #388f58;
}

.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu .dropdown-item {
  color: #fff;
}

.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu .dropdown-item:focus {
  background-color: #39b3d7;
}

.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu {
  background-color: #E99002;
  border-color: #d08002;
}

.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu .dropdown-item {
  color: #fff;
}

.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu .dropdown-item:focus {
  background-color: #c17702;
}

.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu {
  background-color: #F04124;
  border-color: #0079a1;
}

.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu .dropdown-item {
  color: #fff;
}

.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu .dropdown-item:hover,
.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu .dropdown-item:focus {
  background-color: #dc2c0f;
}

.text-secondary {
  color: #495057 !important;
}

.blockquote-footer {
  color: #888;
}

table {
  font-size: 0.8203125rem;
}

.table-primary, .table-success, .table-info, .table-warning, .table-danger {
  color: #fff;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #008cba;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #eee;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #eee;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #222;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #43ac6a;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #5bc0de;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #F04124;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #E99002;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-primary:hover, .table-hover .table-primary:hover > th, .table-hover .table-primary:hover > td {
  background-color: #0079a1;
}

.table-hover .table-secondary:hover, .table-hover .table-secondary:hover > th, .table-hover .table-secondary:hover > td {
  background-color: #e1e1e1;
}

.table-hover .table-light:hover, .table-hover .table-light:hover > th, .table-hover .table-light:hover > td {
  background-color: #e1e1e1;
}

.table-hover .table-dark:hover, .table-hover .table-dark:hover > th, .table-hover .table-dark:hover > td {
  background-color: #151515;
}

.table-hover .table-success:hover, .table-hover .table-success:hover > th, .table-hover .table-success:hover > td {
  background-color: #3c9a5f;
}

.table-hover .table-info:hover, .table-hover .table-info:hover > th, .table-hover .table-info:hover > td {
  background-color: #46b8da;
}

.table-hover .table-danger:hover, .table-hover .table-danger:hover > th, .table-hover .table-danger:hover > td {
  background-color: #ea2f10;
}

.table-hover .table-warning:hover, .table-hover .table-warning:hover > th, .table-hover .table-warning:hover > td {
  background-color: #d08002;
}

.table-hover .table-active:hover, .table-hover .table-active:hover > th, .table-hover .table-active:hover > td {
  background-color: rgba(0, 0, 0, 0.075);
}

label,
.control-label,
.help-block,
.checkbox,
.radio,
.form-control-feedback {
  font-size: 0.8203125rem;
}

.dropdown-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.8203125rem;
  font-weight: 300;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #eee;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  background-color: #fbfbfb;
}

.nav-pills .active {
  border: 1px solid #0079a1;
}

.breadcrumb {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 0.8203125rem;
  font-weight: 300;
  text-transform: uppercase;
}

.pagination {
  font-weight: 300;
}

.pagination .page-link {
  border-color: transparent;
  border-radius: 3px;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.pagination .page-link:hover, .pagination .page-link:focus {
  text-decoration: none;
}

.pagination .page-item.disabled .page-link {
  border-color: transparent;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link,
.pagination-lg .page-item:first-child .page-link,
.pagination-lg .page-item:last-child .page-link,
.pagination-sm .page-item:first-child .page-link,
.pagination-sm .page-item:last-child .page-link {
  border-radius: 3px;
}

.list-group {
  font-size: 0.8203125rem;
  font-weight: 300;
}

.close {
  opacity: 0.6;
  text-shadow: none;
}

.close:hover, .close:focus {
  opacity: 1;
}

.alert {
  font-size: 0.8203125rem;
  font-weight: 300;
  color: #fff;
}

.alert-primary, .alert-primary > th, .alert-primary > td {
  background-color: #008cba;
}

.alert-secondary, .alert-secondary > th, .alert-secondary > td {
  background-color: #eee;
}

.alert-success, .alert-success > th, .alert-success > td {
  background-color: #43ac6a;
}

.alert-info, .alert-info > th, .alert-info > td {
  background-color: #5bc0de;
}

.alert-danger, .alert-danger > th, .alert-danger > td {
  background-color: #F04124;
}

.alert-warning, .alert-warning > th, .alert-warning > td {
  background-color: #E99002;
}

.alert-dark, .alert-dark > th, .alert-dark > td {
  background-color: #222;
}

.alert-light, .alert-light > th, .alert-light > td {
  background-color: #eee;
}

.alert .alert-link {
  font-weight: normal;
  color: #fff;
  text-decoration: underline;
}

.alert-secondary,
.alert-secondary a:not(.btn),
.alert-secondary .alert-link, .alert-light,
.alert-light a:not(.btn),
.alert-light .alert-link {
  color: #222;
}

.badge {
  padding-bottom: .3em;
}

.badge-warning, .badge-info {
  color: #fff;
}

.progress[value] {
  height: 22px;
  padding: 2px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
}

.popover-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}